<?xml version="1.0"?>

<!-- Config decription -->
<!-- <repository> - The tag stores all the information about the repository that will be cloning by the script -->
<!-- <repository_name> - The name of the repository -->
<!-- <username> - The name of the user who has the project -->
<!-- <branch> - The branch with which you want to clone a project -->
<!-- <cloning_directory> - Directory where the project will be downloaded (temporarily) -->
<!-- <cloud_directory> - Directory where the project will be saved -->
<!-- <max_file_number> - Maximum number of files in the directory -->
<!-- <max_files_size> - The maximum size of all files in the directory -->

<data>
	<max_file_number>5</max_file_number>
	<max_files_size>25</max_files_size>

    <repository>
		<repository_name>BackupSystem</repository_name>
        <username>pinchukovartur</username>
		<branch>master</branch>
		<cloud_directory>E:\Projects\Python\backupsystem\_test_cloud</cloud_directory>
		<cloning_directory>E:\Projects\Python\backupsystem\_test_temporary_folder</cloning_directory>
    </repository>
</data>