<?xml version="1.0"?>

<!-- Config decription -->
<!-- <repository> - The tag stores all the information about the repository that will be cloning by the script -->
<!-- <config_name> - The name of the repository -->
<!-- <cloning_directory> - Directory where the project will be downloaded (temporarily) -->
<!-- <cloud_directory> - Directory where the project will be saved -->
<!-- <max_file_number> - Maximum number of files in the directory -->
<!-- <storage_size> - The maximum size of all files in the directory -->
<!-- <size_expansion> - Type max size:
			1 - megabyte  
			2 - gigabyte 
			3 - terabyte 
	(example: max_files_size = 3 & size_expansion = 1 => 3 megabyte max size)-->
<!-- <url> - The address in the network where the repository is located 
							(example: username:password@github.com/username/repository.git )-->

<data>
	<max_file_number>25</max_file_number>
	<storage_size>25</storage_size>
	<size_expansion>1</size_expansion>

    <repository>
		<config_name>BackupSystem</config_name>
		<url>https://github.com/pinchukovartur/BackupSystem</url>
		<cloud_directory>test_cloud\</cloud_directory>
		<cloning_directory>test_cloned_directory\</cloning_directory>
    </repository>
</data>